header {
    height: 100px;
    color: #B1B2B3;
    background: #1d1d1d;
    margin: 0 auto;
}

.titre {
    float: left;
    padding-top: 0.7%;
}

h1,
h3 {
    padding: 0 auto;
    margin: 0 auto;
    font-family: cursive;
}

h3 {
    font-size: 12px;
}

.liens-header {
    height: 50%;
    margin-right: 24%;
}

.C1 {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 2%;
}

.C2 {
    float: left;
    width: 25%;
}

.C2 a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 18px;
    background: black;
}

.C2 a:hover {
    background: rgb(44, 39, 39);
}

.body {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.AC1,
.AC2,
.AC3,
.AC4 {
    width: 231px;
    height: 300px;
    float: left;
    margin-left: 4px;
}

hr {
    width: 100%;
}

.IMG1,
.IMG2,
.IMG3 {
    width: 28%;
    height: 50%;
    float: left;
    margin-left: 40px;
}

a {
    color: orangered;
    float: right;
}

#AC1,
#AC2,
#AC3,
#AC4,
#AC5 {
    width: 20%;
    color: orange;
}

.pti-img {
    margin-left: -4.3%;
}

#AC1,
#AC2,
#AC3,
#AC4,
#AC5:hover {
    background-color: white;
}

.part1 {
    margin: 0 auto;
    font-family: unset;
    font-size: 100%;
    width: 45%;
    float: left;
    margin-left: 2%;
}

#part2 {
    float: left;
}

.part3 {
    margin: 0 auto;
    font-family: unset;
    font-size: 100%;
    width: 66%;
    float: left;
    margin-left: -66%;
    margin-top: 17%;
}

.part5 {
    float: right;
    margin-top: -33%;
    margin-right: 3%;
    list-style-type: upper-roman;
    list-style-type: upper-roman;
    list-style-type: upper-roman;
}

.part6 {
    float: right;
    margin-right: 11%;
    font-size: 100%;
    font-family: sans-serif;
}

.C3 {
    color: #B1B2B3;
    margin: 0 auto;
    float: right;
    margin-top: -1%;
    margin-right: 25%;
    font-size: 15px;
}

.C4 {
    color: #B1B2B3;
    margin: 0 auto;
    margin-left: 25%;
    font-size: 15px;
}

footer {
    background: #1d1d1d;
    height: 50px;

}