.myllnicorn {
    font-family: 'Courgette', cursive;
}

.right {
    float: right;
    position: relative;
    bottom: 50px;
    font-family: Arial,
        sans-serif;
    list-style-type: none;
    padding: 10px;
}