body{
  color: #333;
  background: #c7eef3d7;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset{
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}

.fieldset-1:hover, .fieldset-2:hover, .fieldset-3:hover{
  box-shadow: 0 0 20px #444;
}


.fieldset-1{
  background: rgba(168, 197, 36, 0.6);
}

.fieldset-1 label {
  color: #fff;
  width: 200px;
  display: inline-block;
  padding: 10px 0 15px 40px;
}

.fieldset-1 input{
  width: 300px;
  height: 20px;
}

.fieldset-2{
  background: rgba(36, 168, 197, 0.6);
}

.fieldset-2 label{
  color: #fff;
  width:100px;
  display: inline-block;
  padding: 5px 0 15px 10px;
}

.fieldset-2 input{
  width: 10px;
  height: 25px;
}

.fieldset-3{
  background: rgba(230, 86, 235, 0.6);
}

.fieldset-3 label{
  color: #fff;
  width: 100px;
  display: inline-block;
  padding: 10px 0 10px 40px;
}

.fieldset-3 input{
  width: 300px;
  height: 20px;
}

legend{
  color: #444;
  padding: 5px;
  font-size: 18px;
  font-weight: 900;
  background: #fff;
  text-transform: uppercase;
}

input[type=checkbox], input[type=radio]{
  width: 30px;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=date]:focus{
  border: 3px solid red;
}

input[type=submit]{
  width: 70%;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  margin-left: 15%;
  font-weight: bold;
  border-radius: 50px;
  background: #fe6921;
  text-transform: uppercase;
}

input[type=submit]:hover{
  background: #e8ab2e;
}
