body {
    width: 80%;
    margin: 10px auto;
    font-family: cursive;
}

#contenu {
    background: red;
    border: 2px solid black;
}

header {
    height: 80px;
    color: white;
    padding-top: 6px;
    text-align: center;
    background: #5a0b29;
}

footer {
    height: 80px;
    color: white;
    padding-top: 6px;
    text-align: center;
    background: #200b13;
}

nav {
    height: 40px;
    color: white;
    padding-left: 20px;
    padding-top: 6px;
    background: #200b13;
}

section {
    height: 500px;
    text-align: center;
    border: 20px solid #ffffff;
    background: #e6e2af;
}

p {
    margin: 0;
    border: 6px;

}

.a1 {
    float: left;
    background: red;
    height: 50%;
    width: 50%;
}

.a2 {
    float: right;
    background: yellow;
    height: 50%;
    width: 50%;
}

.a3 {
    float: left;
    background: green;
    height: 50%;
    width: 50%;
}

.a4 {
    float: right;
    background: blue;
    height: 50%;
    width: 50%;
}

.red,
gree,
    {
    float: left;
}